<div class="wrapper">
  <div class="toast-list">
  <div class="toast">
    <img class="toast__image" src="http://i.pravatar.cc/50" alt="" />
      <div class="toast-info">
        <div class="toast-info__data">Just now</div>
        <div class="toast-info__title">Jordan joined the chatroom</div>
        <div class="toast-info__timer"></div>
      </div>
    <div class="toast__dismiss">
      <span class="cancel-button" tabindex="0"></span>
    </div>
  </div>

  <div class="toast">
    <img class="toast__image" src="http://i.pravatar.cc/49" alt="" />
      <div class="toast-info">
        <div class="toast-info__data">3 min ago</div>
        <div class="toast-info__title">Alex commented on <b>your post</b></div>
        <div class="toast-info__message">I really like this gif! Is it possible to make it a little bigger?</div>
      </div>
    <div class="toast__dismiss">
      <span class="cancel-button" tabindex="0"></span>
    </div>
  </div>

  <div class="toast">
      <div class="toast-info toast-info--error">
        <div class="toast-info__data">10 min ago</div>
        <div class="toast-info__title">Upload failed</div>
        <div class="toast-info__message">sad_cat.png and 5 other files failed to upload.</div>
        <div class="toast-action">
          <button class="toast-action__button toast-action__button--primary">Try again</button>
          <button class="toast-action__button" >Cancel</button>
        </div>
      </div>
    <div class="toast__dismiss">
      <span class="cancel-button" tabindex="0"></span>
    </div>
  </div>
</div>
</div>
